<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<head>
    <title>Pokemons</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>


    <h1>Pokemons</h1>
    <div>    
    <a href="/pokemons/new"><button type=button>Add New Pokemon</button></a> </div>
    
    <% for (pokemon of pokemons){ %>
        <li><a href="/pokemons/<%=pokemon.id %>">
            <h2> <%=pokemon.name%> </a>
            <img src="<%=pokemon.img %>" />
        </li>
    <% } %>
            </h2>
</body>
</html>