*{
   background-image: url("https://external-preview.redd.it/NXrR_qnMRHrwUoE8pbeiX26fq4mNctFsmdEghRVApSQ.jpg?auto=webp&s=b18e1b0df84f417036d4e1ac0affb6245a071ebf") ;
   background-attachment: fixed;
   background-size: cover;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   text-align:left;
   margin-left: 40px;
   flex-direction: flex;
}
h1{
   text-align: center;
   font-size: 80px;
}

